/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;800&family=Rubik+Lines&display=swap");
/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem;

  /*========== Colors ==========*/
  --first-color: #0066ff;
  --first-color-alt: #00a9ff;
  --title-color: hsl(140, 4%, 12%);
  --text-color: hsl(140, 4%, 40%);
  --text-color-light: hsl(140, 4%, 64%);
  --white-color: hsl(0, 0%, 100%);
  --body-color: hsl(0, 0%, 100%);
  --container-color: hsl(0, 0%, 95%);
  --shadow-img: drop-shadow(0 8px 12px hsla(0, 0%, 0%, 0.314));
  --filter-img: invert(1);

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Poppins", sans-serif;
  --second-font: "Rubik Lines", sans-serif;
  --biggest-font-size: 3rem;
  --big-font-size: 2rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;

  /*========== Font and typography ==========*/
  --font-regular: 400;
  --font-medium: 500;
  --font-semi-bold: 600;
  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

/*========== Responsive Typography ==========*/
@media screen and (min-width: 1150px) {
  :root {
    --biggest-font-size: 5.5rem;
    --big-font-size: 3rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
  }
}

/*========== Base ==========*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body,
input,
button {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

body {
  background-color: var(--body-color);
  color: var(--text-color);
  transition: background-color 0.4s;
}

input,
button {
  border: none;
  outline: none;
}

h1,
h2,
h3,
h4 {
  color: var(--title-color);
  font-weight: var(--font-medium);
  line-height: 100%;
}

ul {
  list-style: none;
}

a {
  color: var(--title-color);
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/*========== REUSABLE CSS CLASSES ==========*/
.container {
  max-width: 1120px;
  margin-inline: 1.5rem;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.section {
  padding-block: 5rem 1rem;
}

.section__title {
  font-size: var(--big-font-size);
  font-family: var(--second-font);
  text-align: center;
  margin-bottom: 1rem;
}

.main {
  overflow: hidden;
}

.spacer {
  aspect-ratio: 1200/119;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.tabbed {
  background-color: white;
  max-width: 60rem;
  margin: 0 auto;
}

.tabbed nav ul {
  display: flex;
  justify-content: space-between;
  background-color: lightgray;
  border-radius: 0.75rem;
  margin: 0rem 1rem;
}

.tabbed nav li {
  position: relative;
  width: 100%;
  border-radius: 0.75rem;
}

.tabbed nav label {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #aaa;
  height: 4rem;
  font-weight: var(--font-semi-bold);
  padding: 1.25rem;
  position: relative;
  cursor: pointer;
}

.tabbed > input {
  display: none;
}

.tabbed nav li span {
  color: #505050;
}

.tab_content {
  margin: 2rem;
  padding: 2rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.175);
  border-radius: 0.75rem;
  align-items: center;
}

.tab__content {
  margin: 2rem;
  padding: 2rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.175);
  border-radius: 0.75rem;
  align-items: center;
}

.tab__content > div {
  display: none;
  animation: text-fade 0.75s;
}
@keyframes text-fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
input#tab1:checked ~ .tab__content .tab1,
input#tab2:checked ~ .tab__content .tab2,
input#tab3:checked ~ .tab__content .tab3 {
  display: block;
}

input#tab1:checked ~ nav li.tab1,
input#tab2:checked ~ nav li.tab2,
input#tab3:checked ~ nav li.tab3 {
  background-color: var(--first-color-alt);
}

input#tab1:checked ~ nav li.tab1 span,
input#tab2:checked ~ nav li.tab2 span,
input#tab3:checked ~ nav li.tab3 span {
  color: var(--white-color);
}

/*========== HEADER & NAV==========*/
.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: var(--body-color);
  z-index: var(--z-fixed);
  transition: box-shadow 0.4s, background-color 0.4s;
}

.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo,
.nav__toggle,
.nav__close {
  display: flex;
  justify-content: center;
  color: var(--title-color);
}

.nav__logo {
  font-family: var(--second-font);
  font-size: var(--h3-font-size);
  column-gap: 0.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav__logo img {
  width: 2.5rem;
}

.nav__toggle,
.nav__close {
  font-size: 1.25rem;
  cursor: pointer;
}

/*========== DROPDOWN ==========*/
.dropdown__item {
  cursor: pointer;
  font-weight: var(--font-semi-bold);
  color: var(--title-color);
}

.dropdown__arrow {
  display: block;
  font-size: 1.25rem;
  font-weight: initial;
  transition: transform 0.2s;
}

.dropdown__header {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dropdown__link {
  color: var(--text-color);
  font-weight: var(--font-semi-bold);
}

.dropdown__link:hover {
  color: var(--first-color);
}

.dropdown__menu {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease-out;
}

.dropdown__item:hover .dropdown__menu {
  max-height: 1000px;
  transition: max-height 0.4s ease-in;
}

.dropdown__item:hover .dropdown__arrow {
  transform: rotate(180deg);
}

.dropdown__menu__show {
  max-height: 1000px;
  transition: max-height 0.4s ease-in;
}

.dropdown__arrow__rotate {
  transform: rotate(180deg) !important;
}
/* Navigation for mobile devices */
@media screen and (max-width: 1150px) {
  .nav__menu {
    position: fixed;
    top: -100%;
    left: 0;
    background-color: var(--body-color);
    width: 100%;
    box-shadow: 0 2px 16px hsla(0, 0%, 0%, 0.1);
    padding-block: 4.5rem;
    transition: top 0.4s;
  }
}

.nav__list {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  row-gap: 2.5rem;
}

.nav__link {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
  transition: var(--first-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav__link:hover {
  color: var(--first-color);
}

.nav__close {
  position: absolute;
  top: 1rem;
  right: 1.5rem;
}
/* Show Menu */
.show-menu {
  top: 0;
}
/* Change shadow header */
.shadow-header {
  box-shadow: 0 2px 16px hsla(0, 0%, 0%, 0.1);
}
/* Active Link */

/*========== HOME ==========*/
.home {
  position: relative;
}

.home__container {
  padding-top: 2.5rem;
  row-gap: 2rem;
}

.home__data {
  position: relative;
  text-align: center;
}

.home__title {
  font-size: var(--biggest-font-size);
  font-family: var(--second-font);
  margin-bottom: 1rem;
}

.home__description {
  margin-bottom: 1rem;
}

.home__img {
  width: 350px;
  justify-self: center;
  filter: var(--shadow-img);
}

/*========== Button  ==========*/
.button {
  display: inline-block;
  background-color: var(--first-color-alt);
  padding: 1rem 2rem;
  border-radius: 4rem;
  color: var(--white-color);
  transition: box-shadow 0.4s;
}

.button:hover {
  box-shadow: 0 8px 24px hsla(218, 40%, 48%, 0.3);
}

/*========== ABOUT  ==========*/
.about {
  position: relative;
  background: var(--first-color);
}

.about__container {
  row-gap: 2rem;
}

.about__data {
  position: relative;
  text-align: center;
  color: var(--white-color);
}

.about__title {
  color: var(--white-color);
}
.about__description {
  margin-bottom: 1rem;
}

.about__image {
  width: 450px;
  justify-self: center;
  filter: var(--shadow-img);
  border-radius: 1rem;
}

.layer1 {
  background-image: url("../svg/waves-top.svg");
}

.layer2 {
  background-image: url("../svg/waves-bottom.svg");
}
/*==========projects ==========*/
.projects__container {
  padding-top: 2rem;
  padding-bottom: 100px;
  grid-template-columns: 400px;
  justify-content: center;
  row-gap: 2.5rem;
}

.project__card {
  position: relative;
  padding-block: 0rem 2.5rem;
  text-align: center;
}

.project__img {
  width: 100%;
  height: 80%;
  border-radius: 0.75rem;
  margin: 0 auto 0.75rem;
  object-fit: cover;
}

.project__bg {
  width: 100%;
  height: 100%;
  background-color: var(--container-color);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  border-radius: 1rem;
  transition: background-color 0.4s;
}

.project__title {
  color: var(--title-color);
  margin-top: 2rem;
  font-size: var(--h1-font-size);
  font-family: var(--second-font);
}

.project__title a:hover {
  color: var(--first-color);
}

.project__subtitle {
  font-size: var(--small-font-size);
}

.rounded_image {
  border-radius: 25px; 
}

.proj_info {
  display: flex;
  flex-direction: row;
}

.proj_img {
  width:3000px;
  margin:40px;
  filter: drop-shadow(0 0 0.75rem #00308F);
}

.proj_desc {
  margin:40px;
  border: 1px solid #F0F0F0; 
  padding: 15px;
  border-radius: 15px;
  background-color: #F0F0F0;
  text-align: center;
}

.outer {
  display: flex;
  flex-direction: row;
}

/*========== FOOTER ==========*/
.footer {
  padding-block: 5rem 2rem;
  overflow: hidden;
}

.footer__container {
  position: relative;
  row-gap: 3rem;
}

.footer__logo {
  display: inline-flex;
  align-items: center;
  column-gap: 0.25rem;
  font-size: var(--h1-font-size);
  font-family: var(--second-font);
  color: var(--title-color);
  margin-bottom: 1rem;
}

.footer__logo img {
  width: 2.5rem;
}

.footer__data {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  gap: 3rem;
}

.footer__title {
  font-size: var(--h3-font-size);
  font-weight: var(--font-semi-bold);
  margin-bottom: 1rem;
}

.footer__links {
  display: grid;
  row-gap: 0.75rem;
}

.footer__link {
  color: var(--text-color);
  transition: color 0.4s;
}

.footer__link:hover {
  color: var(--first-color);
}

.footer__copy {
  display: block;
  margin-top: 2rem;
  text-align: center;
  font-size: var(--small-font-size);
  color: var(--text-color-light);
}


/*========== PROJECTS ==========*/

/* Project pages for various devices */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .proj_info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .proj_img {
    width:300px;
    margin:30px;
    filter: drop-shadow(0 0 0.5rem #00308F);
  }

  .proj_desc {
    margin: 10px;
  }
} 

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .proj_info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .proj_img {
    width:300px;
    margin:30px;
    filter: drop-shadow(0 0 0.5rem #00308F);
  }

  .proj_desc {
    margin: 10px;
  }
} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .proj_info {
    display: flex;
    flex-direction: row;
  }
  .proj_img {
    width:3000px;
    margin:40px;
    filter: drop-shadow(0 0 0.75rem #00308F);
  }
} 

/*========== FOOTER ==========*/

/* For small devices */
@media screen and (max-width: 300px) {
  .container {
    margin-inline: 1rem;
  }

  .home__title {
    font-size: 1.5rem;
  }

  .box .content,
  .box label {
    order: initial;
  }

  .box label {
    width: 100%;
    margin-right: 0;
    margin-top: 0.5rem;
  }
  .projects__container,
  .about__container {
    grid-template-columns: 220px;
  }

  .footer__logo {
    font-size: 1.05rem;
  }

  .footer__logo img {
    width: 2rem;
  }
  .footer__data {
    grid-template-columns: max-content;
    gap: 2rem;
  }

}

/* For Medium devices */
@media screen and (min-width: 576px) {
  .home__container,
  .about__container {
    grid-template-columns: 370px;
    justify-content: center;
  }

  .home__title {
    font-size: 2.5rem;
  }

  .footer__data {
    grid-template-columns: repeat(2, max-content);
  }
}

@media screen and (min-width: 768px) {
  .home__container,
  .about__container {
    grid-template-columns: repeat(2, 350px);
    align-items: center;
  }

  .home__data,
  .about__data,
  .about__data .section__title {
    text-align: initial;
  }

  .projects__container {
    grid-template-columns: repeat(2, 350px);
  }

  .about__img {
    order: -1;
  }

  .footer__data {
    grid-template-columns: repeat(2, max-content);
  }
}

/* For Large devices */
@media screen and (min-width: 1150px) {
  .container {
    margin-inline: auto;
  }

  .section {
    padding-block: 6rem 2rem;
  }

  .nav {
    height: calc(var(--header-height) + 2rem);
    column-gap: 4rem;
  }

  .nav__close,
  .nav__toggle {
    display: none;
  }

  .nav__menu {
    margin-left: auto;
  }

  .nav__list {
    flex-direction: row;
    column-gap: 4rem;
  }

  .dropdown__item {
    position: relative;
  }

  .dropdown__menu {
    max-height: initial;
    width: 20rem;
    overflow: initial;
    position: absolute;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s, top 0.3s;
    background-color: var(--white-color);
    box-shadow: 0 2px 16px hsla(0, 0%, 0%, 0.1);
    text-align: left;
    padding: 1rem;
    border-radius: 0.5rem;
  }

  .dropdown__link {
    text-align: left;
  }

  .dropdown__item:hover .dropdown__menu {
    opacity: 1;
    pointer-events: initial;
    transition: top 0.3;
  }
  .home__container {
    grid-template-columns: 470px 500px;
    padding-top: 3.5rem;
  }

  .home__description {
    padding-right: 5rem;
    margin-bottom: 2rem;
  }
  .home__img {
    width: 500px;
  }
  .projects__container {
    grid-template-columns: repeat(3, 375px);
    column-gap: 2.5rem;
    padding-top: 4rem;
  }

  .project__card {
    padding-bottom: 1.5rem 3rem;
  }

  .project__img {
    width: 100%;
  }

  .project__title {
    font-size: calc(var(--h2-font-size) + 2px);
  }

  .about__container {
    grid-template-columns: 600px 600px;
    column-gap: 5.5rem;
  }

  .about__data .section__title {
    margin-bottom: 1.5rem;
  }

  .about__description {
    margin-bottom: 2rem;
  }

  .about__img {
    width: 800px;
  }

  .footer {
    position: relative;
    padding-bottom: 5rem 3rem;
  }
  .footer__container {
    position: initial;
    grid-template-columns: repeat(2, max-content);
    justify-content: space-around;
  }

  .footer__logo {
    font-size: var(--h2-font-size);
    margin-bottom: 1.5rem;
  }

  .footer__data {
    column-gap: 4.5rem;
  }

  .footer__title {
    margin-bottom: 1.5rem;
  }
}
